<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{[%d{yyyy-MM-dd HH:mm:ss}]}{green} %highlight{%-5level}{FATAL=bold #C00000, ERROR=bold #B22234, WARN=#FF8E00, INFO=#55B246, DEBUG=#0070F5, TRACE=#008080} %msg - %l%n"
                    disableAnsi="false"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="ALL">
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>