<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <conversionRule conversionWord="GT_LEVEL_COLOR"
                    converterClass="com.godikit.logger.converter.LevelColorCompositeConverter"
                    class="com.godikit.logger.converter.LevelColorCompositeConverter"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%GT_LEVEL_COLOR([%d{yyyy-MM-dd HH:mm:ss}]) %GT_LEVEL_COLOR(%-5level) %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="ALL">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
